.app-navbar {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    padding: 10px;
}
.header {
    background-color: #3097d1;
    color: white;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus,
.nav>li>a:focus, .nav>li>a:hover{
	background-color: #3097d1;
	border-color: transparent; 
	color: orange;
}
.nav-tabs>li>a {
     margin-right: 0px; 
    line-height: 1.42857143; */
    border: none; 
}
.link-plain,
.link-plain:hover {
 	color: white;
}
.header h3{
	margin-top: 10px;
}

/* Tab Navigation */
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;    
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background-color: transparent;
}

/* Tab Content */
.tab-pane {
    background: #F5F5F5;
    text-align: center;
}

.infoContainer{
    position: relative;
}

.alert-info{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}

.glyphicon-info-sign{
    color: red;
    margin-right: 5px;
}